Repository ugr-sail/sinergym, pull requests merged in 2022-05, with the labels that each got.

#214 Fixed RBC5Zone with static seasonal setpoints
  sinergym/utils/controllers.py
Labels: bug, Controller

#216 Updated DRL_battery.py with additional customization
  DRL_battery.py
  load_agent.py
Labels: enhancement, DRL, Feature request

#212 Sinergym 1.9.0: Default IDF controller and Dynamic variables to control
  DRL_battery.py
  docs/source/pages/environments.rst
  docs/source/pages/extra-configuration.rst
  docs/source/pages/gcloudAPI.rst
  docs/source/pages/introduction.rst
  docs/source/pages/usage-example.rst
  load_agent.py
  mlflowbuild.sh
  sinergym/__init__.py
  sinergym/data/buildings/2ZoneDataCenterHVAC_wEconomizer.idf
  sinergym/data/buildings/5ZoneAutoDXVAV.idf
  sinergym/data/variables/2ZoneDataCenterHVAC_wEconomizer.rdd
  sinergym/data/variables/2ZoneDataCenterHVAC_wEconomizer_spaces.cfg
  sinergym/data/variables/5ZoneAutoDXVAV.rdd
  sinergym/data/variables/5ZoneAutoDXVAV_spaces.cfg
  sinergym/data/variables/IW_Mullion_spaces.cfg
  sinergym/data/variables/variablesDXVAV.cfg
  sinergym/data/variables/variablesDataCenter.cfg
  sinergym/data/variables/variablesIW.cfg
  sinergym/envs/eplus_env.py
  sinergym/simulators/eplus.py
  sinergym/utils/common.py
  sinergym/utils/config.py
  sinergym/utils/constants.py
  sinergym/utils/controllers.py
  sinergym/utils/evaluation.py
  sinergym/utils/logger.py
  sinergym/utils/rewards.py
  sinergym/utils/wrappers.py
  test.py
  tests/conftest.py
  tests/test_common.py
  tests/test_config.py
  tests/test_env.py
  tests/test_wrapper.py
  try_env.py
Labels: enhancement, Env, building

#220 New issue template for improvements in Sinergym
  .github/ISSUE_TEMPLATE/improvement.md
  sinergym/version.txt
Labels: Feature request
