Repository ugr-sail/sinergym, pull requests merged in 2022-06, with the labels that each got.

#232 load_agent.py enhancement and evaluations fix
  DRL_battery.py
  load_agent.py
  sinergym/utils/callbacks.py
Labels: enhancement

#229 Introducing new buildings in Sinergym
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/improvement.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/create_release.yml
  CONTRIBUTING.md
  README.md
  docs/index.md
  docs/source/index.rst
  docs/source/pages/controllers.rst
  docs/source/pages/deep-reinforcement-learning.rst
  docs/source/pages/environments.rst
  docs/source/pages/extra-configuration.rst
  docs/source/pages/github-actions.rst
  docs/source/pages/installation.rst
  docs/source/pages/tests.rst
  docs/source/pages/wrappers.rst
  examples/TensorBoard_example.ipynb
  examples/basic_example.ipynb
  examples/change_environment.ipynb
  examples/drl.ipynb
  examples/rule_controller_example.ipynb
  examples/wrappers_examples.ipynb
  mlflowbuild.sh
  setup.py
  sinergym/__init__.py
  sinergym/data/buildings/2ZoneDataCenterHVAC_wEconomizer.idf
  sinergym/data/buildings/5ZoneAutoDXVAV.idf
  sinergym/data/buildings/ASHRAE9012016_OfficeMedium_Denver.idf
  sinergym/data/buildings/ASHRAE9012016_Warehouse_Denver.idf
  sinergym/data/buildings/IW_Mullion.idf
  sinergym/data/variables/ASHRAE9012016_OfficeMedium_Denver.rdd
  sinergym/data/variables/ASHRAE9012016_Warehouse_Denver.rdd
  sinergym/data/weather/USA_CO_Aurora-Buckley.Field.ANGB.724695_TMY3.ddy
  sinergym/data/weather/USA_CO_Aurora-Buckley.Field.ANGB.724695_TMY3.epw
  sinergym/simulators/eplus.py
  sinergym/utils/common.py
  sinergym/utils/config.py
  sinergym/utils/constants.py
  sinergym/version.txt
  tests/README.md
  tests/test_env.py
  try_env.py
Labels: enhancement, building

#230 Configurable csvlogger elements
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/create_pr.yml
  .github/workflows/merge_pr.yml
  README.md
  docs/source/index.rst
  docs/source/pages/installation.rst
  docs/source/pages/notebooks/personalize_loggerwrapper.nblink
  examples/personalize_loggerwrapper.ipynb
  python_environment.yml
  setup.cfg
  sinergym/utils/logger.py
  sinergym/utils/wrappers.py
  sinergym/version.txt
Labels: log

#234 LoggerWrapper Enhancement and progress.csv new field
  examples/personalize_loggerwrapper.ipynb
  sinergym/envs/eplus_env.py
  sinergym/utils/logger.py
  sinergym/utils/rewards.py
  sinergym/utils/wrappers.py
  sinergym/version.txt
  tests/test_env.py
Labels: enhancement, log, wrapper
