Repository ugr-sail/sinergym, pull requests merged in 2022-03, with the labels that each got.

#170 issue 169 - RBC update
  .vscode/settings.json
  sinergym/utils/common.py
  sinergym/utils/controllers.py
  sinergym/utils/rewards.py
  tests/conftest.py
Labels: enhancement

#174 Solving several bugs in Sinergym
  .github/workflows/merge_pr.yml
  .gitignore
  .vscode_conf/settings.json
  DRL_battery.py
  MANIFEST.in
  sinergym/data/buildings/5ZoneAutoDXVAV.idf
  sinergym/envs/eplus_env.py
  sinergym/simulators/eplus.py
  sinergym/utils/callbacks.py
  sinergym/utils/evaluation.py
  tests/test_config.py
  tests/test_simulator.py
Labels: bug, BackEnd, log, DRL, workflow, PyPi

#186 Doc/fix 180
  .github/workflows/merge_pr.yml
  docs/index.html
  docs/source/pages/github-actions.rst
Labels: bug, documentation

#188 Sinergym 1.7.8
  DRL_battery.py
  docs/source/pages/environments.rst
  load_agent.py
  setup.py
  sinergym/__init__.py
  sinergym/data/weather/AUS_NSW.Sydney.947670_IWEC.ddy
  sinergym/data/weather/AUS_NSW.Sydney.947670_IWEC.epw
  sinergym/data/weather/COL_Bogota.802220_IWEC.ddy
  sinergym/data/weather/COL_Bogota.802220_IWEC.epw
  sinergym/data/weather/ESP_Granada.084190_SWEC.ddy
  sinergym/data/weather/ESP_Granada.084190_SWEC.epw
  sinergym/data/weather/FIN_Helsinki.029740_IWEC.ddy
  sinergym/data/weather/FIN_Helsinki.029740_IWEC.epw
  sinergym/data/weather/JPN_Tokyo.Hyakuri.477150_IWEC.ddy
  sinergym/data/weather/JPN_Tokyo.Hyakuri.477150_IWEC.epw
  sinergym/data/weather/MDG_Antananarivo.670830_IWEC.ddy
  sinergym/data/weather/MDG_Antananarivo.670830_IWEC.epw
  sinergym/envs/eplus_env.py
  sinergym/version.txt
  tests/conftest.py
  tests/test_env.py
  tests/test_simulator.py
Labels: bug, enhancement, DRL

#193 New Documentation structure and some changes (v1.8.0)
  .github/workflows/create_pr.yml
  .github/workflows/merge_pr.yml
  Dockerfile
  README.md
  docs/source/index.rst
  docs/source/pages/deep-reinforcement-learning.rst
  docs/source/pages/extra-configuration.rst
  docs/source/pages/installation.rst
  docs/source/pages/tests.rst
  docs/source/pages/usage-example.rst
  docs/source/pages/wrappers.rst
  docs/source/spelling_wordlist.txt
  load_agent.py
  python_environment.yml
  sinergym/__init__.py
  sinergym/data/buildings/2ZoneDataCenterHVAC_wEconomizer.idf
  sinergym/data/buildings/5ZoneAutoDXVAV.idf
  sinergym/data/buildings/IW_Mullion.idf
  sinergym/data/variables/2ZoneDataCenterHVAC_wEconomizer_spaces.cfg
  sinergym/data/variables/5ZoneAutoDXVAV_spaces.cfg
  sinergym/data/variables/IW_Mullion_spaces.cfg
  sinergym/envs/eplus_env.py
  sinergym/simulators/eplus.py
  sinergym/utils/callbacks.py
  sinergym/utils/common.py
  sinergym/utils/config.py
  sinergym/utils/controllers.py
  sinergym/utils/evaluation.py
  sinergym/utils/rewards.py
  sinergym/utils/wrappers.py
  sinergym/version.txt
  tests/conftest.py
  tests/test_common.py
  tests/test_config.py
  tests/test_env.py
  tests/test_reward.py
  tests/test_simulator.py
  tests/test_wrapper.py
Labels: documentation, enhancement, wrapper

#195 Modify devcontainer to use sinergym's DockerHub image
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  sinergym/version.txt
Labels: enhancement

#199 Added Dockerfile alias
  Dockerfile
  docs/source/pages/gcloudAPI.rst
  load_agent.py
  sinergym/utils/gcloud.py
Labels: bug, container

#152 Reward class re-definition
  Dockerfile
  check_run_times.py
  docs/source/pages/rewards.rst
  sinergym/__init__.py
  sinergym/envs/eplus_env.py
  sinergym/utils/rewards.py
  tests/README.md
  tests/conftest.py
  tests/test_controller.py
  tests/test_env.py
  tests/test_reward.py
  tests/test_stable_baselines.py
Labels: enhancement, help wanted, reward
